<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>112541665833-hrre32v6s4l99tjb926tmfdh565bofqa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.112541665833-hrre32v6s4l99tjb926tmfdh565bofqa</string>
	<key>API_KEY</key>
	<string>AIzaSyBXQh6Yt1l7NLIT4pVc2WrAaF_qoMjuL9s</string>
	<key>GCM_SENDER_ID</key>
	<string>112541665833</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app</string>
	<key>PROJECT_ID</key>
	<string>g-summits</string>
	<key>STORAGE_BUCKET</key>
	<string>g-summits.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:112541665833:ios:7c6f7e7cdf1531cba9aa38</string>
</dict>
</plist>